.activity-zone {
  @extend %info-box;

  box-sizing: border-box;
  padding: 20px;

  .title {
    color: $site-green;
  }

  .day {
    margin-top: 10px;
  }

  .time-zone {
    margin-top: 3px;
    display: flex;
    align-items: baseline;
  }

  .to {
    margin-left: 5px;

    &:before {
      content: '-';
      margin-right: 5px;
    }
  }

  .label {
    font-weight: bold;
    margin-right: 10px;
    width: 85px;
  }
}

.scheduled-activity {
  @extend %info-box;
  box-sizing: border-box;
  padding: 20px;

  .date-time {
    margin-top: 10px;
  }
}
