.alerts {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9990;
  width: 100%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);

  .alert {
    width: 100%;
    border-bottom: 3px solid $site-blue;
  }

  .info-icon {
    color: $site-blue;
    margin-right: 10px;
  }
}

.scheduled-activity-alert {
  .event {
    font-weight: normal;
  }

  .activity {
    color: $site-green;
  }

  .activity-details {
    margin-top: 10px;
  }
}
