.app-menu {
  background: white;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 400px;
  height: 100%;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
  border-top: 1px solid $nav-border-color;
  // max-height: calc(100% - 80px);
  transition: left 0.2s ease, box-shadow 0.2s ease;

  &.hidden {
    display: block;
    left: -400px;
    box-shadow: 0 0 0 0 transparent;
    transition: left 0.2s ease-in, box-shadow 0.2s ease;
  }

  .item {
    padding: 10px 20px;
    font-weight: normal;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;

    &:first-of-type {
      padding-top: 20px;
    }

    &:last-of-type {
      padding-bottom: 20px;
    }
  }

  .logo {
    font-size: 20px;
    border-bottom: 1px solid $standard-border-color;
    text-align: left;
  }
}
