

.appointment-summary {
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  background: white;
  border-bottom: 1px solid #ddd;
  position: relative;

  .photo-box {
    width: 60px;
    height: 60px;
    background: #eee;
    border-radius: 100%;
    flex-shrink: 0;
    overflow: hidden;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
  }

  .photo {
    display: block;
    width: 100%;
    height: auto;
  }

  .info {
    flex-grow: 1;
    margin-left: 20px;
  }

  .title {
    font-size: 18px;
    padding-bottom: 10px;
    color: $site-green;
  }

  .detail-entry {
    display: flex;
  }

  .label {
    font-weight: bold;
    flex-shrink: 0;
    width: 40px;
  }

  .value {
    margin-left: 10px;
    flex-grow: 1;
  }

  .delete-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    z-index: 10;
    top: 10px;
    right: 10px;
    font-size: 18px;
    // color: $light-red-1;
    color: $inactive-icon-color;
  }
}


.children {
  .appointment-summary {
    padding: 0;
    padding-top: 10px;
    border: none;
  }
}
