
.availability-entry {
  background-color: white;
  padding:  20px 0;
  display: flex;
  border-bottom: 1px solid #ddd;

  &:first-of-type {
    border-top: 1px solid #ddd;
  }

  .day-number {
    flex-shrink: 0;
    width: 50px;
    text-align: center;
  }

  .number {
    font-size: 22px;
  }

  .day {
    font-size: 11px;
  }

  .details {
    flex-grow: 1;
    padding: 0 20px 0 10px;
  }

  .header {
    padding-bottom: 10px;
  }

  .title {
    @extend %component-title;
  }
}
