%btn {
  border: 1px solid #ccc;
  border-bottom: 2px solid #aaa;
  border-radius: 2px;
  padding: 10px 15px;
  margin: 5px;
  outline: none;
  background-color: white;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;

    &.selected {
      background-color: $site-blue;
      border-color: $site-blue-dark-1;
      border-top-color: $site-blue;
      border-bottom-color: $site-blue-dark-2;
      color: white;
      transition: all 0.08s ease;
    }
}

%selectable-button {
  position: relative;
  transition: all 0.08s ease;
}

%primary-button {
  @extend %btn;
  background-color: $site-blue;
  border-color: $site-blue-dark-1;
  border-top-color: $site-blue;
  border-bottom-color: $site-blue-dark-2;
  color: white;
}

%btn-50 {
  @extend %btn;
  margin: 0;
  margin-bottom: 10px;
  width: 47%;
}

.btn {
  @extend %btn;
}

.primary-btn {
  @extend %primary-button;
}
.submit-btn {
  @extend %primary-button;
}

.even-50-btns-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn-50 {
  @extend %btn-50;
}

.selectable-btn-50 {
  @extend %btn-50;
  @extend %selectable-button;

  &.selected {
    background-color: $site-blue;
    border-color: $site-blue-dark-1;
    border-top-color: $site-blue;
    border-bottom-color: $site-blue-dark-2;
    color: white;
    transition: all 0.08s ease;
  }
}

.btn-100-box {
  .btn {
    margin: 0;
    width: 100%;
    text-align: left;

    ~ .btn {
      margin-top: 10px;
    }
  }
}

.centered-button-box {
  text-align: center;
  padding: 10px 0;
}
