.calendar-group {
  
}

.calendar-entry {
  padding: 15px 0 10px;
  //margin: 5px 0;
  background-color: white;
  border-bottom: 1px solid $standard-border-color;
  text-align: center;
  position: relative;
  display: flex;

  &:first-of-type {
    border-top: 1px solid $standard-border-color;
  }

  .day {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    padding-left: 5px;
    font-size: 22px;
    // border-right: 1px solid $light-gray-4;

    .text {
      font-size: 12px;
      margin-top: 3px;
    }
  }

  .details {
    flex-grow: 1;
  }

  .component-icon.therapist-image {
    top: 10px;
  }

  .title {
    font-style: italic;
    text-align: left;
    color: black;
  }

  .info-items {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info-item {
    // flex-grow: 1;
    text-align: center;
    font-size: 11px;
    line-height: 11px;

    .text {
      line-height: 11px;
    }

    &:last-of-type {
      color: $site-green-dark-1;
    }
  }

  .therapist-name {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  .img-box {
    width: 15px;
    height: 15px;
    vertical-align: middle;
  }
}
