.checkable-input {
  display: flex;
  margin-bottom: 8px;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }

  .input-box {
    flex-grow: 1;
  }

  .input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .checkbox {
    border: 1px solid #ccc;
    border-left: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: white;
    width: 50px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $inactive-icon-color;
    transition: color 0.08s ease, border-color 0.08s ease;

    &.active {
      color: $site-green;
      transition: color 0.08s ease, border-color 0.08s ease;
      border-color: $site-green;
    }
  }
}
