%image-container {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  overflow: hidden;
  display: inline-block;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.image-container {
  @extend %image-container;
}

.image-container-sm {
  @extend %image-container;
  width: 35px;
  height: 35px;
}

.image-container-xsm {
  @extend %image-container;
  width: 25px;
  height: 25px;
}

.dynamic-image-container {
  @extend %image-container;
  width: auto;
  height: auto;
}

.dynamic-image-container-square {
  @extend %image-container;
  width: auto;
  height: auto;
  border-radius: 0;
}
