$background-color: #f3f5f6;
$background-color: #e9ebee;
$text-color: #42464A;
$text-color-light-1: #5D6369;
$text-color-light-2: #797F85;
$white-hover-color: #F3f5f6;

$off-white: #edeff3;
$light-gray-5: #E8ECED;
$light-gray-4: #D9DCDE;

$inactive-icon-color: #a6abac;
$inactive-icon-color: #91989e;
$inactive-icon-color: #656c73;

$selected-green: #00ACB5;
$selected-green-dark-1: #00949C;

$site-green: #00ACB5;
// $site-green: darken($site-green, 2%);
$site-green-lighter: #39c4cb;
$site-red: #E32057;
$light-red-1: lighten($site-red, 5%);
$site-green-dark-1: darken($site-green, 5%);
$site-purple: #9400b9;
$site-purple: #b000dc;
$site-purple: #ab00d5;
$site-purple-light-1: #C94FE8;
$site-purple-dark-1: #7C009C;
$site-purple-dark-2: #530069;
$site-purple-dark-3: #370045;
$bright-purple-pink: #F700FF;

$site-blue: #1e8be8;
$site-blue-dark-1: darken($site-blue, 10%);
$site-blue-dark-2: darken($site-blue, 30%);

$purple-gradient-pink: #DE50FA;
$purple-gradient-blue: #5650FA;

$yellow: #f7d100;

$input-background: #edeef0;
$input-background: #f2f4f5;

$standard-border-color: #ddd;
$border-dark-color: #aaa;

$nav-border-color: #a8b0b5;

$button-background: linear-gradient(white, #F7F9FA);
