.daily-status {
  .label {
    display: inline-block;
    vertical-align: middle;
  }

  .value {
    color: $site-purple;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
  }

  .thoughts {
    padding-top: 10px;
    font-style: italic;
    position: relative;

    &::before {
      content: '"';
      position: absolute;
      top: 20px;
      left: -13px;
      color: $inactive-icon-color;
      opacity: 0.4;
      font-size: 60px;
      font-family: Georgia, serif;
    }
  }
}
