%data-summary-list {
  .item {
    ~ .item {
      padding-top: 3px;
    }

    &::before {
      content: '';
      vertical-align: middle;
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background-color: #42464A;
      margin-right: 10px;
    }
  }
}

.data-summary-list {
  @extend %data-summary-list;
}
