.float-bar {
  width: 100%;
  height: 40px;

  ul {
    width: 100%;
    height: 100%;
  }

  li {
    height: 100%;
  }

  .left {
    float: left;
    margin-right: 5px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .right {
    float: right;
    margin-left: 5px;

    &:last-of-type {
      margin-left: 0;
    }
  }

  .centered-content {
    display: inline-block;
    vertical-align: middle;
  }
}
