%gen-abs-content {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.gen-abs-content {
  @extend %gen-abs-content;
}

.overlay {
  @extend %gen-abs-content;
  opacity: .5;
  z-index: 9999;
}
