.goal-history-item {
  @extend %info-box;
  box-sizing: border-box;
  padding: 30px 20px 20px;
  position: relative;

  .status {
    position: absolute;
    top: 5px;
    right: 7px;
    font-weight: normal;
    font-style: italic;
    opacity: 0.8;
    color: $inactive-icon-color;

    .fa {
      margin-left: 8px;
    }
  }

  .abandoned .fa {
    color: $site-red;
  }

  .accomplished .fa {
    color: $site-green;
  }
}
