.card.greeting {
  text-align: center;
  padding: 10px 0;

  label {
    font-size: 25px;
  }
}


/*

<div class='card greeting'>
  <div class='shadow'></div>
  <div class='content hrz-img-txt-combo'>
    <div class='image-container'>
      <img src='https://www.gallereplay.com/profiles/corwin/picture.jpg'/>
    </div>
    <label>
      Hi <span class='site-purple-text'>Steven</span>
    </label>
  </div>
</div>

*/
