.hrz-img-txt-combo-flex {
  display: flex;
  align-items: center;

  > * {
    flex-grow: 1;
  }

  .img-box {
    margin-right: 10px;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.hrz-img-txt-combo {
  > * {
    display: inline-block;
    vertical-align: middle;
  }

  .img-box {
    margin-right: 8px;
  }
}

.hrz-txt-img-combo {
  @extend .hrz-img-txt-combo;

  .img-box {
    margin-right: 0;
  }

  .text {
    margin-right: 8px;
  }
}
