%hrz-btns-box {
  background-color: white;
  display: flex;
  padding-top: 0;

  .btn {
    flex-grow: 1;
    margin: 0;
    border: 1px solid $standard-border-color;
    border-bottom: 2px solid $border-dark-color;
    border-left: 0;
    border-radius: 0;
    padding: 10px 0;
    border-right: 1px solid $light-gray-4;
    text-align: center;

    &:first-of-type {
      border-left: 1px solid $standard-border-color;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &:last-of-type {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    &.selected {
      border-top-color: $site-blue;
      border-bottom-color: $site-blue-dark-2;
    }
  }

  .image-container {
    width: 17px;
    height: 17px;
    border-radius: 0;
    margin-right: 3px;
  }

  i {
    font-size: 14px;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
  }
}

.hrz-btns-box {
  @extend %hrz-btns-box;
}

%hrz-btns-box-flat {
  @extend %hrz-btns-box;

  .btn {
    border: 1px solid $standard-border-color;
    border-left: 0;

    &:first-of-type {
      border-left: 0;
    }

    &:last-of-type {
      border-right: 0;
    }
  }
}

.hrz-btns-box-flat {
  @extend %hrz-btns-box-flat;
}

.two-hrz-btns-box {
  @extend %hrz-btns-box-flat;

  .btn {
    width: 50%;
  }
}

.three-hrz-btns-box {
  @extend %hrz-btns-box;

  .btn {
    width: 33.3%;
  }
}
