%info-box {
  display: block;
  background-color: white;
  border-bottom: 1px solid $light-gray-4;
  // box-sizing: border-box;
  // padding: 20px;

  &:first-of-type {
    border-top: 1px solid $light-gray-4;
  }
}

.info-box {
  @extend %info-box;
}

.link-box {
  @extend %info-box;
  box-sizing: border-box;
  padding: 20px 20px 15px;
  display: flex;
  align-items: center;

  ~ .form-box {
    border-top: 0;
  }

  &:first-of-type {
    border-top: 0;
  }

  .children {
    padding-top: 10px;
  }

  .icon-word {
    display: inline-block;
    margin-right: 7px;
    color: $site-blue;
    font-weight: normal;
  }

  .icon {
    flex-grow: 0;
    color: $site-blue;
    padding-left: 15px;
  }

  .fa {
    font-size: 23px;
  }

  .info {
    flex-grow: 1;
  }
}

.therapist-info-box {
  @extend %info-box;
}

.therapist-header-info-box {
  @extend .therapist-info-box;
  border-bottom: 0;

  .hrz-img-txt-combo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }

  .text {
    text-align: right;
  }
}

.therapist-about-info-box {
  @extend .therapist-info-box;

  .title {
    padding: 15px 0;
    color: $text-color-light-2;
    font-style: italic;
    color: $site-green;
  }

  .body {
    padding-bottom: 10px;
    line-height: 20px;
  }
}

.review-feedback-info-box {
  @extend .therapist-about-info-box;

  .title {
    color: $text-color;
    padding-top: 15px;
    padding-bottom: 0;
    font-size: 16px;
    font-weight: 100;
    font-weight: normal;
  }

  .body {
    padding: 10px 0;
  }
}

.form-box {
  @extend %info-box;
  box-sizing: border-box;
  padding: 20px;

  ~ .link-box {
    border-top: 0;
  }

  &:first-of-type {
    border-top: 0;
  }
}
