%input {
  background-color: $input-background;
  background-color: white;
  border: 1px solid $standard-border-color;
  border-top-color: $border-dark-color;
  outline: none;
  display: block;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 2px;
  font-size: 16px;
  width: 100%;
  resize: none;
  color: $text-color;
  font-weight: 100;
  font-weight: normal;
  transition: background-color 0.08s ease, border 0.08s ease;

  &:hover {
    border-color: #ccc;
    border-top-color: #aaa;
    background-color: white;
    transition: background-color 0.08s ease, border 0.08s ease;
  }

  &:focus {
    background-color: white;
    border-color: $site-blue;
    border-top-color: $site-blue-dark-1;
    // box-shadow: 0 1px 1px 0 #ccc inset;
    transition: background-color 0.08s ease, border 0.08s ease;
  }
}

.input {
  @extend %input;
}

.form-group {
  background: white;
  border-bottom: 1px solid $standard-border-color;

  .header {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 15px;

    .title {
      @extend %std-title;
    }

    .subtitle {
      padding-top: 3px;
      font-weight: normal;
    }

    .additional-instructions {
      padding-top: 3px;
      // font-style: italic;
      font-size: 15px;
    }
  }

  .inputs {
    padding-bottom: 15px;
    width: 90%;
    margin: 0 auto;

    .input {
      margin: 8px 0;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.form-buttons {
  margin-top: 15px;
  text-align: center;

  .link {
    margin-right: 15px;
  }
}

.other-selection {
  margin-top: 5px;
}

.other-selection-title {
  margin-bottom: 3px;
  font-weight: normal;
}

%no-ios-input-shadow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text] {
  @extend %no-ios-input-shadow;
}

textarea {
  @extend %no-ios-input-shadow;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}
