%instructable-input-instructions {
  margin-bottom: 5px;

  ~ %instructable-input-instructions {
    font-style: italic;
    margin-top: -3px;
  }
}

.instructable-input-box {

  ~ .instructable-input-box {
    margin-top: 12px;
  }

  .instructions {
    @extend %instructable-input-instructions;
  }

  .instructions-green {
    @extend %instructable-input-instructions;
    color: $site-green;
  }

  .input {
    margin: 0;
  }

  .three-hrz-btns-box {
    margin: 0;
  }
}
