%labeled-data {
  width: 100%;
  text-align: center;

  ~ .labeled-data {
    margin-top: 5px;
  }

  .title {
    width: 45%;
    font-weight: normal;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
  }

  .data {
    text-align: left;
    width: 45%;
    display: inline-block;
    vertical-align: top;
  }
}

.labeled-data {
  @extend %labeled-data;
}
