%linked-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  .nav-size-space {
    flex-shrink: 0;
  }

  .navigation {
    display: flex;
    width: 100%;
    max-width: 500px;
    left: 0;
    background: white;
    background-color: $site-green-lighter;
    // border-bottom: 1px solid $nav-border-color;
    // border-top: 1px solid white;
    // box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
    flex-shrink: 0;
    height: 36px;
    padding-bottom: 3px;
    align-items: center;

    .nav-item {
      flex-grow: 0;
      flex-shrink: 0;
      min-width: 55px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: normal;
      padding-left: 20px;
      font-size: 15px;
      color: white;
    }

    .title {
      flex-grow: 1;
      text-align: right;
      padding-right: 20px;
      color: $site-purple;
      font-size: 18px;
      font-style: italic;
      color: white;
    }

    .fa {
      font-size: 20px;
      margin-right: 10px;
      color: white;
    }
  }

  .nav-size-space {
    height: 35px;
  }

  .page-content {
    flex-grow: 1;
    overflow-y: auto;
  }
}

// @media all and (max-width: 600px) {
//   %linked-page .navigation {
//     // this is used to fix 'fixed' position elements in ios
//     // so they dont disappear when scrolling
//     transform: translateZ(2px);
//     -webkit-font-smoothing: antialiased; /* seems to do the same in Safari */
//     -webkit-transform: translate3d(0,0,2px);
//     transform: translate3d(0,0,2px);
//   }
// }

.linked-page {
  @extend %linked-page;
}
