.list-box {
  .title {
    margin-top: 15px;
    border-top: 1px dashed $standard-border-color;
    padding-top: 10px;
    font-size: 16px;
    color: $site-purple;
  }
}

.list-items-box {
  padding-top: 10px;

  &.even-50-btns-box {
    padding-top: 15px;
  }
}

.list-item {
  display: flex;
  padding-bottom: 3px;

  &:last-of-type {
    padding-bottom: 0;
  }

  .text {
    flex-grow: 1;

    &::before {
      content: '';
      vertical-align: middle;
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background-color: $text-color;
      margin-right: 10px;
    }
  }

  .icons {
    flex-shrink: 0;
    color: $inactive-icon-color;

    .fa {
      padding: 3px 10px;
    }

    .fa-times {
      // color: $light-red-1;
    }
  }
}
