nav.std {
  background-color: white;
  // box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.4);
  height: 40px;
  position: fixed;
  left: 0;
  width: 100%;
  max-width: 500px;
  z-index: 999;

  .nav-item {
    -webkit-tap-highlight-color: transparent;

    .category {
      display: none;
    }
  }

  .nav-item-box .nav-item.left-align {
    text-align: left;
  }

  .nav-item-box .nav-item.right-align {
    text-align: right;
  }
}

// @media all and (max-width: 600px) {
//   nav.std {
//     // this is used to fix 'fixed' position elements in ios
//     // so they dont disappear when scrolling
//     transform: translateZ(1px);
//     -webkit-transform: translate3d(0,0,1px);
//     transform: translate3d(0,0,1px);
//     -webkit-font-smoothing: antialiased; /* seems to do the same in Safari */
//   }
// }

nav.flex {
  .nav-item-box {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;

    .nav-item {
      max-width: 20%;
      min-width: 55px;
      height: 100%;
      text-align: center;

      &:last-of-type {
        border-right: 0;
      }

      &.no-grow {
        flex-grow: 0;
      }

      &.no-max-width {
        max-width: 100%;
      }

      &.selected {
        i {
          color: $selected-green;
        }
        label {
          color: $selected-green-dark-1;
        }
      }
    }
  }

  &.unbordered-items {
    ul li {
      border-right: 0;
    }
  }

  &.thirds {
    ul li {
      max-width: 33.33%;

      &.no-max-width {
        max-width: 100%;
      }
    }
  }
}

nav.bot {
  border-top: 1px solid #ddd;
  // box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
  bottom: 0;
}

nav.top {
  // border-bottom: 1px solid $nav-border-color;
  // box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
  background-color: $site-green-lighter;
  top: 0;
  height: 40px;

  .fa {
    color: white;
  }

  &.transparent {
    background-color: white;

    .fa {
      color: $text-color;
    }
  }
}

nav.no-separator {
  box-shadow: none;
  border: none;
}

.nav-size-space {
  height: 40px;
}
