
.notification {
  @extend %info-box;
  box-sizing: border-box;
  padding: 20px 30px 20px 20px;
  position: relative;

  .icon {
    position: absolute;
    z-index: 10;
    top: 3px;
    right: 8px;
    width: 12px;
    height: 12px;

    .fa {
      font-size: 12px;
      color: $inactive-icon-color;
    }
  }

  .title {
    font-size: 15px;
  }

  .detail-box {
    padding-top: 10px;
  }

  .detail-entry {
    padding-top: 3px;

    &:first-of-type {
      padding-top: 0;
    }
  }

  .significant-text {
    font-weight: bold;
  }
}
