%rating-stars {
  padding: 2px 0;
  display: inline-block;

  .star {
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;

    i {
      float: left;
      font-size: 14px;
      color: $yellow;
    }
  }
}

.rating-stars {
  @extend %rating-stars;
}

.reviewable-stars {
  @extend %rating-stars;

  .star {
    width: 25px;
    height: 25px;
    margin-right: 1px;

    &:last-of-type {
      margin-right: 0;
    }

    i {
      font-size: 25px;
    }
  }
}
