%select-dropdown {
  position: relative;

  .dropdown {
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    width: calc(100% - 2px);
    max-height: 0;
    background: white;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4);
    overflow-y: scroll;
    transition: max-height 0.15s ease;

    &.expanded {
      max-height: 150px;
      transition: max-height 0.15s ease;
      border: 1px solid #ccc;
    }
  }

  .option {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;

    &:last-of-type {
      border-bottom: 0;
    }
  }
}

.searchable-dropdown {
  @extend %select-dropdown;
}

.time-block-picker {
  display: flex;
  justify-content: space-between;

  > * {
    width: 45%;

    .instructable-input-box .input-box {
      display: flex;

      .searchable-dropdown {
        &:first-of-type {
          width: 65%;

          .input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

        &:last-of-type {
          width: 35%;

          .input {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }
}
