.text-message {
  margin-top: 20px;

  &:first-of-type {
    margin-top: 10px;
  }

  &:last-of-type {
    margin-bottom: 10px;
  }

  .inner {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    max-width: 90%;
    background: white;

    .username {
      font-weight: bold;
      margin-bottom: 5px;
    }
  }

  &.self {
    text-align: left;

    .inner {
      border-radius: 10px;
      border-bottom-left-radius: 0;
      margin-left: 5px;
      background-color: $site-green;

      > * {
        color: white;
      }
    }

    + .self {
      margin-top: 3px;

      .inner .username {
        display: none;
      }
    }
  }

  &.other {
    text-align: right;

    .inner {
      border-radius: 10px;
      border-bottom-right-radius: 0;
      margin-right: 5px;
    }

    + .other {
      margin-top: 3px;

      .inner .username {
        display: none;
      }
    }
  }
}
