.timeline-entry-group {
  .title {
    color: $site-purple;
    background-color: transparent;

    &.timeline-entry {
      border: none;
    }

    > * {
      padding: 30px 0;
    }

    .date {
      border-color: $site-purple;
    }

    .timeline-location-dot {
      background-color: $background-color;
      border: 1px solid $site-purple;
      width: 15px;
      height: 15px;
      top: calc(50% - 9px);
      right: -9px;

    }
  }
}

.timeline-entry {
  background-color: white;
  min-height: 50px;
  display: flex;
  border-bottom: 1px solid $standard-border-color;

  > * {
    padding: 15px 0;
  }

  .date {
    width: 20%;
    flex-shrink: 0;
    border-right: 1px solid $site-purple;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .number {
    font-size: 20px;
  }

  .info {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 20px 10px 20px 20px;
  }

  .timeline-location-dot {
    width: 9px;
    height: 9px;
    background: $site-purple;
    border-radius: 100%;
    position: absolute;
    top: calc(50% - 5px);
    right: -5px;
  }

}
