


$background-color: #f3f5f6;
$text-color: #42464A;
$text-color-light-1: #5D6369;
$text-color-light-2: #797F85;
$white-hover-color: #F3f5f6;

$light-gray-5: #E8ECED;
$light-gray-4: #D9DCDE;

$selected-green: #00C1C4;
$selected-green-dark-1: #00949C;
$site-purple: #A700D1;
$site-purple-light-1: #C94FE8;

$one-px: 0.06250rem;
@function px($pixels) {
  @return ($one-px * $pixels);
}

html {
  -webkit-text-size-adjust: 100%;

  // https://webkit.org/blog/5610/more-responsive-tapping-on-ios/
  // 350 ms wait for double tap detection is disabled with this property
  // so single taps are handled quickly
  touch-action: manipulation;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #e9ebee;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 22px;
  max-width: 500px;
  color: $text-color;
  font-weight: 300;
  font-weight: 100;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
div,
span,
img,
section,
a,
button {
  color: $text-color;
  -webkit-tap-highlight-color: transparent;
}

#entry-point {
  height: 100%;
}

.page-visibility {
  height: 100%;
}

h3 {
  font-size: 20px;
}

.title-bar {
  padding: 30px 0 15px;
  color: $site-purple;
  width: 90%;
  margin: 0 auto;
  font-size: 20px;
}

.hidden {
  display: none;
}

.section-title {
  padding: 20px 0;
  color: $site-purple;
  width: 90%;
  margin: 0 auto;
  font-size: 20px;
}

.gen-abs-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.site-purple-text {
  color: $site-purple;
}

.site-purple-light-text {
  color: $site-purple-light-1;
}

.site-green-text {
  color: $selected-green;
}

.shadow {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
}

%page-section {
  margin: 0 auto;
  padding: 10px 0;
  width: 95%;
}

.page-section {
  @extend %page-section;
}

.page-section-98 {
  @extend %page-section;
  width: 98%;
}

.page-section-full {
  @extend %page-section;
  width: 100%;
}


%vertical-hack {
  display: inline-block;
  height: 100%;
  margin-left: -2px;
}

.vertical-mid-hack {
  @extend %vertical-hack;
  vertical-align: middle;
}

.vertical-bot-hack {
  @extend %vertical-hack;
  vertical-align: bottom;
}

.vertical-top-hack {
  @extend %vertical-hack;
  vertical-align: top;
}

.box {
    display: inline-block;
    vertical-align: middle;
}

.empty-50-px {
    height: 50px;
}

.page-row {
    padding: 10px 0;
}

.page-row.sm {
    padding: 5px 0;
}

.page-row.lg {
    padding: 20px 0;
}

.page-column {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.content {
  width: 90%;
  margin: 0 auto;
  height: 100%;

  &.width-85 {
    width: 85%;
  }

  &.width-80 {
    width: 80%;
  }

  &.width-75 {
    width: 75%;
  }

  &.width-95 {
    width: 95%;
  }

  .auto-height {
    height: auto;
  }
}


label, .icon-box {
  display: inline-block;
  vertical-align: middle;
}

.icon-box {
  width: 100%;

  i {
    font-size: 17px;
    line-height: 17px;

    &.fa-bell, &.fa-list {
      font-size: 16px;
    }

    &.sm {
      font-size: 13px;
      line-height: 13px;
    }

    &.lg {
      font-size: 17px;
      line-height: 17px;

      ~ label {
        margin-top: 3px;
      }
    }
  }

  label {
    width: 100%;
    margin-top: 4px;
    font-size: 11px;
  }
}

.v-m-hack {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.app {
  height: 100%;
  overflow: hidden;
}

.body {
  height: calc(100% - 80px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}


.card {
  position: relative;
  background-color: white;
  margin: 10px auto;
  min-height: 40px;
  width: 95%;

  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.abs-img {
  @extend .gen-abs-content;
  height: auto;
  z-index: -1;
}
