doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu", rel="stylesheet")
    script(src='https://use.fontawesome.com/7bf72dcdd2.js')
    
  body
    block content
