.chat-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  .messages {
    flex-grow: 1;
    overflow-y: auto;
  }

  .message-input {
    flex-shrink: 0;
    display: flex;
    width: 100%;

    .input {
      flex-grow: 1;
      background: white;
      border-radius: 0;
      border: 0;
      border-top: 1px solid #ddd;
    }

    .input:focus {
      box-shadow: none;
    }

    .btn,
    .primary-btn {
      flex-shrink: 0;
      margin: 0;
      border-radius: 0;
      border-right: 0;
      border-left: 0;
      border: 0;
      transition: background-color 0.2s ease, color 0.2s ease;
    }

    .btn {
      border-top: 1px solid #ddd;
      color: $inactive-icon-color;
    }

    .primary-btn {
      border-top: 1px solid #ddd;
      color: $site-blue;
      background: white;
    }
  }
}
