.home-page {
  height: 100%;
  position: relative;

  .background {
    @extend .gen-abs-content;
    z-index: -999;
    // background-color: white;
  }

  header {
    padding: 60px 0 20px;
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -99;
      opacity: 0.6;
      background: linear-gradient(#384161, #434c6c);
    }

    .background-img-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -100;
      overflow: hidden;
    }

    .background {
      width: 100%;
      height: auto;
      filter: blur(2px);
    }

    %col {
      width: 50%;
      text-align: center;
    }

    .col {
      @extend %col;
    }

    .image-content-box {
      text-align: center;
      height: auto;
      padding: 40px 0 30px;
      // border-bottom: 1px dashed white;
    }

    .header-info-box {
      padding-top: 15px;
      display: flex;
    }


    .col-border {
      top: 30%;
      right: 0;
      left: auto;
      width: 1px;
      height: 40%;
      background: white;
      opacity: 0.8;
    }

    .col-content {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      width: 100%;
    }

    .user-name {
      color: white;
      font-size: 18px;
      padding: 5px 0 15px;
      // border-bottom: 1px dashed white;
    }

    .labeled-data > * {
      color: white;
    }
  }

  .next-appointment {
    padding: 5px 0;
    background-color: white;
    border-bottom: 1px solid $standard-border-color;
    text-align: center;
    position: relative;

    .title {
      font-style: italic;
      text-align: left;
      color: black;
    }

    .info-items {
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .info-item {
      // flex-grow: 1;
      text-align: center;
      font-size: 11px;
      line-height: 11px;

      .text {
        line-height: 11px;
      }
    }

    .therapist-name {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }

    .img-box {
      width: 15px;
      height: 15px;
      vertical-align: middle;
    }
  }
}

.component-icon {
  top: 10px;
  right: 10px;
  left: auto;
  width: 10px;
  height: 10px;

  &.therapist-image {
    width: 25px;
    height: 25px;
    top: 2px;
    right: 10px;

    .img-box {
      width: 100%;
      height: 100%;
    }
  }


  i {
    color: #aaa;
    font-size: 12px;
    transition: color 0.08s ease;
    float: left;
  }
}

.how-are-you-feeling-today {
  background-color: white;
  border-bottom: 1px solid $standard-border-color;
  padding: 15px 0;

  .instructable-input-box {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.status-update {
  background: $off-white;
  position: relative;

  .input {
    transition: all 0.08s ease;
    box-sizing: border-box;
    height: 90px;
    padding: 10px;
    font-size: 16px;
    color: $text-color;

    &:focus {
      // height: 110px;
      // transition: all 0.08s ease;

      ~ .component-icon i {
          color: $selected-green;
          transition: color 0.08s ease;
      }
    }
  }
}

::-webkit-input-placeholder {
   font-style: italic;
   font-weight: 100;
   font-weight: normal;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}

.seperator-dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: $text-color-light-1;
}
