%registration-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: white;

  .registration-form {
    max-width: 350px;
    margin: 0 auto;
  }

  .form-group {
    border-bottom: 0;

    .inputs {
      padding-bottom: 0;
    }
  }

  .input {
    border: 0;
    border-bottom: 1px solid #ddd;
    padding: 5px 1px;
    border-radius: 0;

    &:focus {
      border-color: $site-blue;
    }
  }

  .instructable-input-box {
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 10px;
    }

    .instructions {
      font-size: 13px;
      color: $inactive-icon-color;
      margin-bottom: 0;
    }
  }

  .login-page-links {
    @extend %registration-page-links;
  }
}

%registration-page-links {
  text-align: center;
  font-size: 14px;
}

.signup-page {
  @extend %registration-page;

  .logo {
    padding-top: 30px;
  }

  .number-of-questions {
    text-align: right;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 18px;
    color: $site-blue;
    padding: 10px 20px 0;
  }

  .signup-page-links {
    @extend %registration-page-links;
  }
}

.sign-up-questions-disclaimer {
  .main-explanation {
    font-weight: normal;
  }

  .list-of-benefits {
    padding-top: 5px;
  }

  .benefit {
    padding-top: 3px;
  }
}

.login-page {
  @extend %registration-page;
  display: flex;
  align-items: center;

  .content-wrapper {
    flex-grow: 1;
  }
}

.logo {
  font-size: 30px;
  box-sizing: border-box;
  padding: 20px;
  font-weight: normal;
  text-align: center;

  .therapy {
    color: $site-purple;
    // color: $site-green;
  }
  .hub {
    color: $site-green;
    // color: $site-purple;
  }
}
