.timeline-page {
  .labeled-data {
    padding: 10px 0;
    margin: 0;

    + .labeled-data {
      border-top: 1px dashed #ddd;
    }

    .title {
      display: block;
      width: 100%;
      text-align: left;
      color: $site-green;
    }

    .data {
      width: 100%;
    }
  }
}
